<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>webview</h1>
    <webview
        id="wv"
        src="https://www.google.com/"
    ></webview>
    <script>
        onload = () => {
          const webview = document.querySelector('webview')
          const indicator = document.querySelector('.indicator')

          const loadstart = () => {
            indicator.innerText = 'loading...'
          }

          const loadstop = () => {
            indicator.innerText = ''
          }

          webview.addEventListener('did-start-loading', loadstart)
          webview.addEventListener('did-stop-loading', loadstop)
        }
      </script>
</body>
</html>
